body {
    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
  color: darkslategray;
  font-size: 3em;
  text-shadow: 2px 2px 5px grey;
}

.list-group {
  max-width: 600px;
}


.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}